.loan-toast {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99999;
  }
  
  .loan-toast-inner {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 50px;
    min-height: 50px; 
    padding: 8px 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
  }

  .loan-toast-txt{
    font-size: 30px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
  }

  @keyframes mint-spinner-rotate {
    0% {
      transform: rotate(0deg);

    }
    100% {
      transform: rotate(360deg);
    }
  }